<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <title>Tag it! Settings</title>

    <link rel="stylesheet" type="text/css" href="../../main.css" />
    <link rel="stylesheet" type="text/css" href="settings.css" />
</head>

<body>

    <!-- Sidebar -->
    <div class="sidebar">
        <ul>
            <li data-page="general.html" class="active">General</li>
            <li data-page="speed-dial.html" class="active">Speed Dial</li>
            <li data-page="about.html">About</li>
        </ul>
    </div>

    <div class="content-container" id="content">
    </div>

    <script>
        // Функция для загрузки контента
        function loadContent(page, selectedItem) {
            fetch(page)
                .then(response => {
                    if (!response.ok) {
                        throw new Error('Сетевая ошибка');
                    }
                    return response.text();
                })
                .then(html => {
                    document.getElementById('content').innerHTML = html;
                    setActive(selectedItem);
                })
                .catch(error => {
                    document.getElementById('content').innerHTML = '<p>Ошибка загрузки контента.</p>';
                    console.error('Ошибка при загрузке страницы:', error);
                });
        }

        // Функция для установки активного состояния
        function setActive(selectedItem) {
            document.querySelectorAll('.sidebar li').forEach(item => {
                item.classList.remove('active');
            });
            selectedItem.classList.add('active');
        }

        // Добавляем обработчики событий на элементы списка sidebar
        document.querySelectorAll('.sidebar li').forEach(item => {
            item.addEventListener('click', () => {
                const page = item.getAttribute('data-page');
                loadContent(page, item);
            });
        });

        // Загрузка первого контента по умолчанию
        document.addEventListener('DOMContentLoaded', () => {
            const activeItem = document.querySelector('.sidebar li.active');
            if (activeItem) {
                const page = activeItem.getAttribute('data-page');
                loadContent(page, activeItem);
            }
        });
    </script>
</body>

</html>