<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <title>Tag it! Settings</title>
    <link rel="stylesheet" href="../../main.css">
    <link rel="stylesheet" href="settings.css">
    <link rel="stylesheet" href="../../notifications.css">
</head>

<body>
    <div class="sidebar">
        <ul>
            <li data-target="general" class="active">General</li>
            <li data-target="speed-dial-section">Speed Dial</li>
            <li data-target="about">About</li>
        </ul>
    </div>

    <div class="content-container">
        <section id="general" class="content-section active">
            <h1>General</h1>
            <div class="settings-form" id="settings-form">
                <!-- Динамические настройки будут здесь -->
            </div>
            <button class="save-button" id="save-button">Save</button>
        </section>

        <section id="speed-dial-section" class="content-section">
            <h1>Speed Dial</h1>
            <div id="speed-dial-content">
                <div class="speed-dial" id="speed-dial"></div>
                <div class="input-container">
                    <input type="text" id="input-tag" class="primary" placeholder="#tag">
                </div>
            </div>
            <button class="save-button" id="save-speed-dial-button">Save</button>
        </section>

        <section id="about" class="content-section">
            <div class="content-item">
                <h1>Tag it!</h1>
                <p><strong>Tag it!</strong> — это мощное и интуитивно понятное приложение для эффективного управления буфером обмена. Оно позволяет пользователям мгновенно сохранять содержимое буфера обмена и организовывать его с помощью настраиваемых тегов для легкого поиска и сортировки. Независимо от того, работаете ли вы с фрагментами кода, текстом или изображениями, <strong>Tag it!</strong> упрощает процесс управления и воспроизведения данных из буфера обмена.</p>

                <h2>Ключевые особенности:</h2>
                <ul class="features">
                    <li><strong>Быстрое тегирование:</strong> Мгновенно тегируйте содержимое буфера обмена с помощью интуитивного интерфейса с настраиваемыми кнопками тегов, включая горячие клавиши для ещё более быстрого тегирования.</li>
                    <li><strong>Настраиваемые теги:</strong> Создавайте, редактируйте и организовывайте теги на ходу, обеспечивая эволюцию вашей системы в соответствии с вашими потребностями.</li>
                    <li><strong>Расширенный поиск:</strong> Фильтруйте и ищите сохранённые записи буфера обмена, используя один или несколько тегов, что облегчает поиск именно того, что вы ищете.</li>
                    <li><strong>Типы контента:</strong> Поддерживает как текст, так и изображения, обеспечивая управление всеми типами содержимого буфера обмена в одном месте.</li>
                    <li><strong>Бесшовное управление:</strong> Легко просматривайте, редактируйте и удаляйте записи буфера обмена с возможностью предварительного просмотра сохранённого содержимого прямо из интерфейса.</li>
                </ul>

                <p><strong>Tag it!</strong> разработан для профессионалов и повседневных пользователей, которым необходимо эффективно управлять и воспроизводить фрагменты данных без прерывания рабочего процесса. Его чистый и удобный интерфейс обеспечивает плавный опыт управления вашим самым важным контентом.</p>
            </div>
        </section>
    </div>

    <div id="notification-container"></div>

    <script src="../speed-dial.js"></script>
    <script src="../../notifications.js"></script>
    <script>
        document.addEventListener('DOMContentLoaded', () => {
            const messages = {
                failedUpdateSettings: "Не удалось обновить настройки",
                successfullyUpdatedSettings: "Настройки успешно обновлены",
            };

            let config = {};
            let speedDial = [];

            const sidebar = document.querySelector('.sidebar');
            const saveButton = document.getElementById('save-button');
            const saveSpeedDialBtn = document.getElementById('save-speed-dial-button');
            const inputTag = document.getElementById('input-tag');

            // Обработчик кликов по сайдбару с использованием делегирования событий
            sidebar.addEventListener('click', async (event) => {
                const target = event.target.closest('li');
                if (!target) return;

                // Смена активного элемента в сайдбаре
                sidebar.querySelectorAll('li').forEach(li => li.classList.remove('active'));
                target.classList.add('active');

                // Смена активной секции контента
                document.querySelectorAll('.content-section').forEach(section => section.classList.remove('active'));
                const targetSectionId = target.getAttribute('data-target');
                const targetSection = document.getElementById(targetSectionId);
                targetSection.classList.add('active');

                // Загрузка соответствующей секции
                if (targetSectionId === 'general') {
                    config = await window.electronAPI.getConfig();
                    populateGeneralSettings(config);
                } else if (targetSectionId === 'speed-dial-section') {
                    await populateSpeedDial();
                }
            });

            // Закрытие окна при нажатии клавиши Escape
            window.addEventListener('keydown', (event) => {
                if (event.key === 'Escape') {
                    window.close();
                }
            });

            // Функция заполнения настроек раздела "General"
            const populateGeneralSettings = (config) => {
                const formContainer = document.getElementById('settings-form');
                formContainer.innerHTML = ''; // Очистка предыдущих настроек

                Object.entries(config).forEach(([key, setting]) => {
                    const settingDiv = document.createElement('div');
                    settingDiv.classList.add('setting-item');

                    const label = document.createElement('label');
                    label.htmlFor = key;
                    label.textContent = setting.description;

                    const inputContainer = document.createElement('div');
                    inputContainer.classList.add('input-container');

                    const input = createInputElement(setting, key);
                    inputContainer.appendChild(input);
                    settingDiv.appendChild(label);
                    settingDiv.appendChild(inputContainer);
                    formContainer.appendChild(settingDiv);
                });

                // Обработчик для кнопки "Сохранить"
                saveButton.onclick = handleSaveSettings;
            };

            // Создание элемента ввода на основе типа настройки
            const createInputElement = (setting, key) => {
                let input;
                if (setting.type === 'bool') {
                    input = document.createElement('input');
                    input.type = 'checkbox';
                    input.id = key;
                    input.checked = setting.value;
                } else {
                    input = document.createElement('input');
                    input.classList.add('form');
                    input.type = 'text';
                    input.id = key;
                    input.value = setting.value;
                }
                return input;
            };

            // Обработка сохранения настроек раздела "General"
            const handleSaveSettings = () => {
                const newConfig = {};

                Object.entries(config).forEach(([key, setting]) => {
                    const inputElement = document.getElementById(key);
                    newConfig[key] = {
                        ...setting,
                        value: setting.type === 'bool' ? inputElement.checked : inputElement.value
                    };
                });

                window.electronAPI.saveConfig(newConfig)
                    .then(() => {
                        showNotification(messages.successfullyUpdatedSettings, 'success');
                    })
                    .catch((error) => {
                        console.error(messages.failedUpdateSettings, error);
                        showNotification(messages.failedUpdateSettings, 'error');
                    });
            };

            // Обработчик сохранения Speed Dial
            saveSpeedDialBtn.onclick = () => {
                const key = inputTag.getAttribute('data-key');
                const tag = inputTag.value.trim();

                if (!tag) {
                    showNotification("Тег не может быть пустым", 'error');
                    return;
                }

                window.electronAPI.saveSpeedDial(key, tag)
                    .then(() => {
                        const btn = document.querySelector(`.custom-button[data-key="${key}"] .button-tag`);
                        if (btn) btn.textContent = tag;
                        showNotification("Speed Dial успешно сохранен", 'success');
                    })
                    .catch((error) => {
                        console.error("Не удалось сохранить Speed Dial", error);
                        showNotification("Не удалось сохранить Speed Dial", 'error');
                    });
            };

            // Инициализация при загрузке страницы
            const initialize = async () => {
                const activeSection = document.querySelector('.sidebar li.active').getAttribute('data-target');
                config = await window.electronAPI.getConfig();

                if (activeSection === 'general') {
                    populateGeneralSettings(config);
                } else if (activeSection === 'speed-dial-section') {
                    await populateSpeedDial();
                }
            };

            // Функция заполнения Speed Dial
            const populateSpeedDial = async () => {
                try {
                    speedDial = await loadTags(speedDialClickHandler);
                    const firstButton = document.querySelector('.custom-button');
                    if (firstButton) {
                        const key = firstButton.getAttribute('data-key');
                        const tag = firstButton.getAttribute('data-tag');
                        inputTag.setAttribute('data-key', key);
                        inputTag.value = tag;
                    }
                } catch (error) {
                    console.error("Ошибка при загрузке Speed Dial", error);
                    showNotification("Не удалось загрузить Speed Dial", 'error');
                }
            };

            // Обработчик кликов по кнопкам Speed Dial
            const speedDialClickHandler = (tag) => {
                inputTag.setAttribute('data-key', tag.key);
                inputTag.value = tag.tag;
            };

            // Вызов инициализации
            initialize();
        });
    </script>
</body>

</html>
