/* main.css */

/* Определение глобальных переменных */
:root {
    /* Цвета */
    --color-background: #121212;
    --color-background-secondary: #1e1e1e;
    --color-background-third: #333333;
    --color-text: #ffffff;
    --color-text-secondary: #bbbbbb;
    --color-accent: #ff9800;
    --color-accent-hover: #e68a00;
    --color-accent-active: #ff9800;
    --color-button: #007bff;
    --color-button-hover: #0056b3;
    --color-button-active: #004085;
    --color-tag: #ff9800;
    --color-link: #71a8ef;
    --color-notification-success: #68aa6a;
    --color-notification-error: #f44336;
    --color-notification-info: #2196F3;
    --color-notification-warning: #ff9800;
    --color-remove-button: #fbcfd5;
    --color-remove-button-hover: #ffb6c1;
  
    /* Шрифты */
    --font-primary: Arial, sans-serif;
    --font-size-base: 18px;
    --font-size-small: 14px;
    --font-size-title: 0.8em;
    --font-size-meta: 0.7em;
  }
  
  /* Сброс и базовые стили */
  * {
    box-sizing: border-box;
  }
  
  body {
    margin: 0;
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color: var(--color-background);
    color: var(--color-text);
    font-family: var(--font-primary);
  }
  
  /* Общие стили для контейнеров контента */
  .content-container {
    padding: 20px;
    flex-grow: 1;
    background-color: var(--color-background-secondary);
    overflow-y: auto;
    position: relative;
  }
  
  /* Стилизация скроллбара для WebKit-браузеров */
  .content-container::-webkit-scrollbar {
    width: 6px;
  }
  
  .content-container::-webkit-scrollbar-track {
    background: transparent;
  }
  
  .content-container::-webkit-scrollbar-thumb {
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 3px;
  }
  
  .content-container::-webkit-scrollbar-thumb:hover {
    background-color: rgba(255, 255, 255, 0.5);
  }
  
  /* Стилизация скроллбара для Firefox */
  .content-container {
    scrollbar-width: thin;
    scrollbar-color: rgba(255, 255, 255, 0.3) transparent;
  }
  
  /* Общие стили для элементов контента */
  .content-item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 15px;
    border-radius: 5px;
    background-color: #2a2a2a; /* Можно также сделать переменной при необходимости */
    position: relative;
  }
  
  .content-item pre {
    background-color: var(----color-background-third);
    padding: 10px;
    border-radius: 4px;
    overflow-x: auto;
    margin: 0;
    white-space: pre-wrap;
    word-wrap: break-word;
  }

  .input-container {
    background-color: var(--color-background-secondary);
  }

  .input-container .primary {
    width: 100%;
    padding: 10px 40px 10px 10px; /* Отступ справа для иконки */
    font-size: var(--font-size-base);
    color: var(--color-accent);
    background-color: var(--color-background-third);
    border: 1px;
    border-radius: 4px;
  }

  .input-container .form {
    width: 100%;
    font-size: var(--font-size-small);
    color: var(--color-text-secondary);
    background-color: var(--color-background-third);
    border: 1px;
    border-radius: 4px;
  }
  
  .copy-button {
    position: absolute;
    top: 3px;
    right: 0px;
    background: none;
    border: none;
    cursor: pointer;
    color: var(--color-text-secondary);
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .copy-button:hover {
    color: var(--color-accent);
  }
  
  .copy-button svg {
    width: 20px;
    height: 20px;
    fill: currentColor;
  }
  
  .meta-info {
    font-size: var(--font-size-meta);
    color: var(--color-text-secondary);
    padding: 5px;
  }
  
  .tags {
    color: var(--color-accent);
  }
  
  .right-corner {
    position: absolute;
    bottom: 3px;
    right: 3px;
    font-size: var(--font-size-meta);
  }
  
  .remove-button {
    background: none;
    border: none;
    cursor: pointer;
    color: var(--color-remove-button);
  }
  
  .remove-button:hover {
    color: var(--color-remove-button-hover);
  }
  
  /* Общие стили для заголовков */
  h2 {
    padding: 20px;
    margin: 0;
    background-color: var(--color-background-secondary);
    border-bottom: 1px solid #444;
  }
  
  /* Общие стили для ссылок */
  .link {
    color: var(--color-link);
  }
  
  /* Общие стили для тегов */
  .tag {
    color: var(--color-accent);
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .tag:hover {
    background-color: #555555; /* Можно также сделать переменной */
  }
  
/* Стили для новой кнопки */
.input-button {
  position: absolute;
  bottom: -13px;
  right: 21px;
  height: 30px;
  background-color: transparent;
  border: none;
  border-radius: 50%;
  color: var(--color-text-secondary);
  font-size: 18px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: color 0.3s;
}

/* Если используете SVG внутри кнопки */
.input-button svg {
  width: 16px;
  height: 16px;
  fill: var(--color-text-secondary);
}

.input-button svg:hover {
  width: 16px;
  height: 16px;
  fill: var(--color-accent-hover);
}

.input-button svg:active {
  width: 16px;
  height: 16px;
  fill: var(--color-accent-active);
}

/* Контейнер для кнопок */
.speed-dial {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(60px, 1fr));
  gap: 10px;
  padding: 20px;
  flex-grow: 1;
  background-color: var(--color-background-secondary);
}

/* Стили для кастомных кнопок */
.custom-button {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--color-button);
  color: var(--color-text);
  font-size: var(--font-size-base);
  border-radius: 4px;
  cursor: pointer;
  user-select: none;
  padding: 10px;
  transition: background-color 0.3s, box-shadow 0.3s;
  position: relative;
}

.custom-button:focus {
  outline: none;
  box-shadow: 0 0 0 3px var(--color-accent);
}

.custom-button:hover {
  background-color: var(--color-button-hover);
}

.custom-button:active {
  background-color: var(--color-button-active);
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.5);
}

/* Отображение тегов */
.button-tag {
  margin-top: 5px;
  font-size: var(--font-size-small);
  color: #ffd700; /* Можно сделать переменной */
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: none; /* Скрываем по умолчанию */
}

/* Отображаем тег при достаточном размере контейнера */
@media (min-width: 500px) { /* Настройте значение по необходимости */
  .button-tag {
    display: block;
  }
}