/* Стили для контейнера уведомлений */
#notification-container {
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 1000;
  }
  
  /* Стили для отдельных уведомлений */
  .notification {
    background-color: #333;
    color: #fff;
    padding: 5px 5px;
    margin-bottom: 10px;
    border-radius: 5px;
    opacity: 0.9;
    min-width: 50px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3);
    display: flex;
    align-items: center;
    justify-content: space-between;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
  }
  
  /* Цвета для различных типов уведомлений */
  .notification.success {
    background-color: #68aa6a; /* Зеленый */
  }
  
  .notification.error {
    background-color: #f44336; /* Красный */
  }
  
  .notification.info {
    background-color: #2196F3; /* Синий */
  }
  
  .notification.warning {
    background-color: #ff9800; /* Оранжевый */
  }
  
  /* Анимации появления и исчезновения */
  @keyframes fadein {
    from { opacity: 0; transform: translateY(-20px); }
    to { opacity: 0.9; transform: translateY(0); }
  }
  
  @keyframes fadeout {
    from { opacity: 0.9; transform: translateY(0); }
    to { opacity: 0; transform: translateY(-20px); }
  }
  
  .close-notify {
    background: none;
    border: none;
    cursor: pointer;
    color: #fbcfd5; /* Бледно-розовый цвет */
  }