* {
  box-sizing: border-box;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: #121212;
  color: #ffffff;
  font-family: Arial, sans-serif;
}

/* Верхнее поле ввода */
.input-container {
  padding: 20px;
  background-color: #1e1e1e;
}

.input-container input {
  width: 100%;
  padding: 10px;
  font-size: 18px;
  color: orange;
  background-color: #333333;
  border: none;
  border-radius: 4px;
}

/* Контейнер для контента */
.content-container {
  padding: 20px;
  flex-grow: 1;
  background-color: #1e1e1e;
  overflow-y: auto;
}

/* Стилизация скроллбара */
/* Для WebKit-браузеров (Chrome, Safari, Edge) */
.content-container::-webkit-scrollbar {
  width: 6px;
}

.content-container::-webkit-scrollbar-track {
  background: transparent;
}

.content-container::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 3px;
}

.content-container::-webkit-scrollbar-thumb:hover {
  background-color: rgba(255, 255, 255, 0.5);
}

/* Для Firefox */
.content-container {
  scrollbar-width: thin;
  scrollbar-color: rgba(255, 255, 255, 0.3) transparent;
}

/* Обновленный стиль для content-item */
.content-item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 15px;
  border-radius: 5px;
  background-color: #2a2a2a;
  position: relative;
}

.content-item pre {
  background-color: #333333;
  padding: 10px;
  border-radius: 4px;
  overflow-x: auto;
  margin: 0;
  white-space: pre-wrap;
  word-wrap: break-word;
}

/* Кнопка копирования в виде иконки */
.copy-button {
  position: absolute;
  top: 3px;
  right: 3px;
  background: none;
  border: none;
  cursor: pointer;
  color: #ffffff;
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.copy-button:hover {
  color: #ff9800;
}

/* Иконка копирования (SVG) */
.copy-button svg {
  width: 20px;
  height: 20px;
  fill: currentColor;
}

/* Метаданные */
.meta-info {
  font-size: 0.7em;
  color: #bbbbbb;
  padding: 5px;
}

.tags {
  color: #ff9800;
}

/* Заголовок */
h2 {
  padding: 20px;
  margin: 0;
  background-color: #1e1e1e;
  border-bottom: 1px solid #444;
}

.right-corner {
  position: absolute;
  bottom: 3px;
  right: 3px;
  font-size: 0.7em;
}

/* Кнопка Remove */
.remove-button {
  background: none;
  border: none;
  cursor: pointer;
  color: #fbcfd5; /* Бледно-розовый цвет */
}

.remove-button:hover {
  color: #ffb6c1; /* Ярче при наведении */
}