/* save.css */

/* Общие стили уже вынесены в main.css */

/* Верхнее поле ввода */
.input-container {
  position: relative;
  background-color: var(--color-background-secondary);
  padding: 20px;
}

.input-container .primary {
  width: 100%;
  padding: 10px 40px 10px 10px; /* Отступ справа для кнопки */
  font-size: var(--font-size-base);
  color: var(--color-accent);
  background-color: var(--color-background-third);
  border: 1px solid #444; /* Добавил стиль для границы */
  border-radius: 4px;
}

/* Контейнер для кнопок */
.speed-dial {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(60px, 1fr));
  gap: 10px;
  padding: 20px;
  flex-grow: 1;
  background-color: var(--color-background-secondary);
}

/* Стили для кастомных кнопок */
.custom-button {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--color-button);
  color: var(--color-text);
  font-size: var(--font-size-base);
  border-radius: 4px;
  cursor: pointer;
  user-select: none;
  padding: 10px;
  transition: background-color 0.3s, box-shadow 0.3s;
  position: relative;
}

.custom-button:focus {
  outline: none;
  box-shadow: 0 0 0 3px var(--color-accent);
}

.custom-button:hover {
  background-color: var(--color-button-hover);
}

.custom-button:active {
  background-color: var(--color-button-active);
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.5);
}

/* Отображение тегов */
.button-tag {
  margin-top: 5px;
  font-size: var(--font-size-small);
  color: #ffd700; /* Можно сделать переменной */
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: none; /* Скрываем по умолчанию */
}

/* Отображаем тег при достаточном размере контейнера */
@media (min-width: 500px) { /* Настройте значение по необходимости */
  .button-tag {
    display: block;
  }
}
