/* save.css */

/* Общие стили уже вынесены в main.css */

/* Верхнее поле ввода */
.input-container {
  position: relative;
  background-color: var(--color-background-secondary);
  padding: 20px;
}

.input-container .primary {
  width: 100%;
  padding: 10px 40px 10px 10px; /* Отступ справа для кнопки */
  font-size: var(--font-size-base);
  color: var(--color-accent);
  background-color: var(--color-background-third);
  border: 1px solid #444; /* Добавил стиль для границы */
  border-radius: 4px;
}
