<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <title>Tag it!</title>

  <link rel="stylesheet" type="text/css" href="../../main.css">
  <link rel="stylesheet" type="text/css" href="view.css" />
  <link rel="stylesheet" type="text/css" href="../../notifications.css" />
</head>

<body>
  <div class="input-container">
    <input type="text" id="filterInput" class="primary" placeholder="Search">
    <button id="resetFilter" aria-label="Сбросить фильтр">
      <!-- SVG иконка сброса -->
      <svg viewBox="0 0 24 24">
        <path
          d="M12 4V1L8 5l4 4V6c3.31 0 6 2.69 6 6 0 1.85-.78 3.54-2 4.69L18.69 20H20V22H16V20H13.31L12 18.69V20H10V18.69L8.69 20H5V22H3V20H4.31L6.69 17.62C5.55 16.38 5 14.77 5 13c0-4.42 3.58-8 8-8z" />
      </svg>
    </button>
  </div>

  <div class="tag-cloud" id="tagCloud">
    <!-- Теги будут добавлены здесь -->
  </div>

  <div class="content-container" id="contentList">
    <!-- Контент будет загружен здесь -->
  </div>

  <div id="notification-container"></div>

  <script src="../../notifications.js"></script>

  <script src="../../third/linkify.min.js"></script>
  <script src="../../third/linkify-html.min.js"></script>

  <script>

    const linkifyOptions = { defaultProtocol: "https", className: 'link' };
    let globalContent = {};

    const messages = {
      failedToCopyContent: "Copied",
      successefullyCopiedContent: "Failed to copy the contents",
      failedToDeleteContent: "Failed to delete content",
      successefullyDeletedContent: "The content has been successfully deleted"
    }

    const filterInput = document.getElementById('filterInput');
    filterInput.focus();

    function renderTagCloud(tags) {
      const tagCloud = document.getElementById('tagCloud');
      tagCloud.innerHTML = ''; // Очищаем текущее облако

      tags.forEach(tag => {
        const tagElement = document.createElement('span');
        tagElement.className = 'tag';
        tagElement.textContent = tag;

        // При клике на тег фильтруем контент
        tagElement.addEventListener('click', () => {
          filterInput.value = `#${tag}`;
          showContent(`#${tag}`);
        });

        tagCloud.appendChild(tagElement);
      });
    }

    // Функция отображения контента
    async function displaySavedContent(searchType = 'all', searchValue = '') {
      const savedContent = await window.electronAPI.getSavedContent({ type: searchType, value: searchValue });
      const contentList = document.getElementById('contentList');
      contentList.innerHTML = ''; // Очищаем существующий контент

      if (savedContent.length === 0) {
        contentList.innerHTML = '<p>Нет сохранённого контента.</p>';
        return;
      }

      savedContent.forEach(item => {
        const contentDiv = document.createElement('div');
        contentDiv.className = 'content-item';
        contentDiv.id = `content-${item.id}`; // Уникальный ID

        globalContent[item.id] = {          
          content: item.content,
          tags: item.tags
        }

        const date = new Date(item.date).toLocaleTimeString().slice(0, 5);
        const tags = item.tags.map(x => `${x.tag}, ${x.state}`).join(', ');

        const content = linkifyHtml(item.content, linkifyOptions);

        contentDiv.innerHTML = `
          <pre>${content}</pre>
          <button class="copy-button" data-id="${item.id}" aria-label="Copy">
            <svg viewBox="0 0 24 24">
              <path d="M16 1H4c-1.1 0-2 .9-2 2v14h2V3h12V1zm3 4H8c-1.1 0-2 .9-2 2v14c0 1.1.9 2 2 2h11c1.1 0 2-.9 2-2V7c0-1.1-.9-2-2-2zm0 16H8V7h11v14z"/>
            </svg>
          </button>
          <div class="right-corner">
            <button class="remove-button" data-id="${item.id}" aria-label="Remove">remove</button>
          </div>
          <div class="meta-info">
            <div><strong>#</strong> <span class="tags">${tags}</span></div>
          </div>`;

        contentList.appendChild(contentDiv);
      });
    }
    
    // Функция копирования в буфер обмена
    async function copyToClipboard(text) {
      const result = await window.electronAPI.copyToClipboard(text);
      if (result.success) {
        showNotification(messages.successefullyCopiedContent, 'success');
      } else {
        console.error(messages.failedToCopyContent, result.error);
        showNotification(messages.failedToCopyContent, 'error');
      }
    }

    // Функция удаления контента
    async function removeContent(id) {
      try {
        const result = await window.electronAPI.deleteContent(id);
        if (result.success) {
          showNotification(messages.successefullyDeletedContent, 'success');
          // Перерисовываем список после удаления
          const currentFilter = filterInput.value.trim();

          showContent(currentFilter);
        } else {
          showNotification(result.message || messages.failedToDeleteContent, 'error');
        }
      } catch (error) {
        console.error(messages.failedToDeleteContent, error);
        showNotification(messages.failedToDeleteContent, 'error');
      }
    }

    async function showContent(q) {
      if (q === '') {
        // Если поле ввода пустое, отображаем весь контент
        displaySavedContent();
      } else if (q.startsWith('#')) {
        // Поиск по тегам
        const filterTags = q.substring(1).split(',').map(tag => tag.trim()).filter(tag => tag);
        displaySavedContent('tag', filterTags);
      } else {
        // Поиск по контенту
        displaySavedContent('content', q);
      }

      const tags = await window.electronAPI.getTags()
      renderTagCloud(tags.map(x => x.name));
    }

    // Обработчик фильтрации при вводе
    document.getElementById('filterInput').addEventListener('input', (event) => {
      const input = event.target.value.trim();
      showContent(input);
    });

    document.getElementById('resetFilter').addEventListener('click', () => {
      filterInput.value = '';
      showContent('');
    });

    // Делегирование событий для кнопок
    document.getElementById('contentList').addEventListener('click', async (event) => {
      const target = event.target;

      // Проверяем, была ли нажата кнопка копирования
      if (target.closest('.copy-button')) {
        const button = target.closest('.copy-button');
        const contentId = button.getAttribute('data-id');
        const textToCopy = globalContent[contentId].content;
        if (textToCopy) {
          await copyToClipboard(textToCopy);
        }
      }

      // Проверяем, была ли нажата кнопка удаления
      if (target.closest('.remove-button')) {
        const button = target.closest('.remove-button');
        const contentId = button.getAttribute('data-id');
        if (contentId) {
          await removeContent(contentId);
        }
      }
    });

    window.addEventListener('pageshow', () => {
      showContent('');
    });

    document.addEventListener('visibilitychange', () => {
      if (!document.hidden) {
        showContent('');
      }
    });

    window.addEventListener('keydown', async (event) => {
      if (event.key === 'Escape') {
        await window.electronAPI.hide();
      }
    });
  </script>

</body>

</html>