/* view.css */

/* Общие стили уже вынесены в main.css */

/* Верхнее поле ввода */
.input-container {
  padding: 10px;
  background-color: var(--color-background-secondary);
  display: flex;
  align-items: center;
  position: relative;
}

.input-container input {
  width: 100%;
  padding: 10px 40px 10px 10px; /* Отступ справа для иконки */
  font-size: var(--font-size-base);
  color: var(--color-accent);
  background-color: #333333; /* Можно сделать переменной */
  border: none;
  border-radius: 4px;
}

/* Кнопка сброса фильтра в виде иконки */
#resetFilter {
  position: absolute;
  right: 20px;
  background: none;
  border: none;
  cursor: pointer;
  color: var(--color-text);
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: color 0.3s ease;
}

#resetFilter:hover {
  color: var(--color-accent);
}

/* SVG иконка для кнопки сброса */
#resetFilter svg {
  width: 20px;
  height: 20px;
  fill: currentColor;
}

/* Упрощенный стиль облака тегов */
.tag-cloud {
  padding: 3px;
  background-color: var(--color-background-secondary);
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center; /* Центрируем теги */
}
