<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <title>Tag it!</title>

  <link rel="stylesheet" type="text/css" href="../../main.css">
  <link rel="stylesheet" type="text/css" href="view.css" />
  <link rel="stylesheet" type="text/css" href="../../notifications.css" />
</head>

<body>
  <div class="input-container">
    <input type="text" id="filterInput" class="primary" placeholder="Search">
    <button id="resetFilter" aria-label="Reset">
      <!-- SVG иконка сброса -->
      <svg viewbox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
        <path
          d="M5.662 23l-5.369-5.365c-.195-.195-.293-.45-.293-.707 0-.256.098-.512.293-.707l14.929-14.928c.195-.194.451-.293.707-.293.255 0 .512.099.707.293l7.071 7.073c.196.195.293.451.293.708 0 .256-.097.511-.293.707l-11.216 11.219h5.514v2h-12.343zm3.657-2l-5.486-5.486-1.419 1.414 4.076 4.072h2.829zm.456-11.429l-4.528 4.528 5.658 5.659 4.527-4.53-5.657-5.657z" />
      </svg>
    </button>
    <button id="settings-button" class="input-button" aria-label="Settings">
      <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
        <path
          d="M24 13.616v-3.232c-1.651-.587-2.694-.752-3.219-2.019v-.001c-.527-1.271.1-2.134.847-3.707l-2.285-2.285c-1.561.742-2.433 1.375-3.707.847h-.001c-1.269-.526-1.435-1.576-2.019-3.219h-3.232c-.582 1.635-.749 2.692-2.019 3.219h-.001c-1.271.528-2.132-.098-3.707-.847l-2.285 2.285c.745 1.568 1.375 2.434.847 3.707-.527 1.271-1.584 1.438-3.219 2.02v3.232c1.632.58 2.692.749 3.219 2.019.53 1.282-.114 2.166-.847 3.707l2.285 2.286c1.562-.743 2.434-1.375 3.707-.847h.001c1.27.526 1.436 1.579 2.019 3.219h3.232c.582-1.636.75-2.69 2.027-3.222h.001c1.262-.524 2.12.101 3.698.851l2.285-2.286c-.744-1.563-1.375-2.433-.848-3.706.527-1.271 1.588-1.44 3.221-2.021zm-12 2.384c-2.209 0-4-1.791-4-4s1.791-4 4-4 4 1.791 4 4-1.791 4-4 4z" />
      </svg>
    </button>
  </div>

  <div class="tag-cloud" id="tagCloud">
    <!-- Теги будут добавлены здесь -->
  </div>

  <div class="content-container" id="contentList">
    <!-- Контент будет загружен здесь -->
  </div>

  <div id="notification-container"></div>

  <script src="../../notifications.js"></script>

  <script src="../../third/linkify.min.js"></script>
  <script src="../../third/linkify-html.min.js"></script>

  <script>

    const linkifyOptions = { defaultProtocol: "https", className: 'link' };
    let globalContent = {};

    const messages = {
      failedToCopyContent: "Copied",
      successefullyCopiedContent: "Failed to copy the contents",
      failedToDeleteContent: "Failed to delete content",
      successefullyDeletedContent: "The content has been successfully deleted"
    }

    const filterInput = document.getElementById('filterInput');
    filterInput.focus();

    function renderTagCloud(tags) {
      const tagCloud = document.getElementById('tagCloud');
      tagCloud.innerHTML = ''; // Очищаем текущее облако

      tags.forEach(tag => {
        const tagElement = document.createElement('span');
        tagElement.className = 'tag';
        tagElement.textContent = tag;

        // При клике на тег фильтруем контент
        tagElement.addEventListener('click', () => {
          filterInput.value = `#${tag}`;
          showContent(`#${tag}`);
        });

        tagCloud.appendChild(tagElement);
      });
    }

    // Функция отображения контента
    async function displaySavedContent(searchType = 'all', searchValue = '') {
      const savedContent = await window.electronAPI.getSavedContent({ type: searchType, value: searchValue });
      const contentList = document.getElementById('contentList');
      contentList.innerHTML = ''; // Очищаем существующий контент

      if (savedContent.length === 0) {
        contentList.innerHTML = '<p>Нет сохранённого контента.</p>';
        return;
      }

      savedContent.forEach(item => {
        const contentDiv = document.createElement('div');
        contentDiv.className = 'content-item';
        contentDiv.id = `content-${item.id}`; // Уникальный ID

        globalContent[item.id] = {
          content: item.content,
          tags: item.tags
        }

        const date = new Date(item.date).toLocaleTimeString().slice(0, 5);
        const tags = item.tags.map(x => `${x.tag}, ${x.state}`).join(', ');


        const postprocessRedTag = (contentDiv, metaInfo) => {
          contentDiv.style.backgroundColor = 'red'
        }

        const postprocessBoldTag = (contentDiv, metaInfo) => {
          contentDiv.style.fontWeight = 'bold'
        }

        const postprocessTodoTag = (contentDiv, metaInfo) => {
          const checkbox = document.createElement('input');
          checkbox.setAttribute('type', 'checkbox')
          checkbox.style.top = '8px'

          checkbox.onclick = async (event) => {
            const contentId = event.target.parentElement.parentElement.parentElement.id;
            const tag = event.target.parentElement.getAttribute('data-tag');
            const state = event.target.checked;

            await window.electronAPI.updateTagState(contentId, tag, state);
          }

          const metaInfoDiv = metaInfo.querySelector('div')
          metaInfoDiv.appendChild(checkbox);
        }

        const updatedTags = item.tags.map(item => {
          if (item.tag === 'red') {
            return { ...item, postprocess: postprocessRedTag };
          } else if (item.tag === 'todo') {
            return { ...item, postprocess: postprocessTodoTag };
          } else if (item.tag === 'bold') {
            return { ...item, postprocess: postprocessBoldTag };
          }

          return item;
        });

        const content = linkifyHtml(item.content, linkifyOptions);

        contentDiv.innerHTML = `
          <pre>${content}</pre>
          <div class="content-item-toolbar" data-id="${item.id}">

            <button class="toolbar-button remove-button" data-id="${item.id}" aria-label="Remove">
              <svg viewBox="0 0 24 24">
                <path d="m4.015 5.494h-.253c-.413 0-.747-.335-.747-.747s.334-.747.747-.747h5.253v-1c0-.535.474-1 1-1h4c.526 0 1 .465 1 1v1h5.254c.412 0 .746.335.746.747s-.334.747-.746.747h-.254v15.435c0 .591-.448 1.071-1 1.071-2.873 0-11.127 0-14 0-.552 0-1-.48-1-1.071zm14.5 0h-13v15.006h13zm-4.25 2.506c-.414 0-.75.336-.75.75v8.5c0 .414.336.75.75.75s.75-.336.75-.75v-8.5c0-.414-.336-.75-.75-.75zm-4.5 0c-.414 0-.75.336-.75.75v8.5c0 .414.336.75.75.75s.75-.336.75-.75v-8.5c0-.414-.336-.75-.75-.75zm3.75-4v-.5h-3v.5z" fill-rule="nonzero"/>
              </svg>
            </button>

            <button class="toolbar-button copy-button" data-id="${item.id}" aria-label="Copy">
              <svg viewBox="0 0 24 24">
                <path d="M16 1H4c-1.1 0-2 .9-2 2v14h2V3h12V1zm3 4H8c-1.1 0-2 .9-2 2v14c0 1.1.9 2 2 2h11c1.1 0 2-.9 2-2V7c0-1.1-.9-2-2-2zm0 16H8V7h11v14z"/>
              </svg>
            </button>

          </div>
          
          <div class="meta-info">
          </div>`;

        contentList.appendChild(contentDiv);


        // Render tags and widgets
        const contentDivLinked = document.getElementById(contentDiv.id);
        updatedTags.forEach((value, index) => {
          const metaInfo = contentDivLinked.getElementsByClassName('meta-info')[0];
          const metaInfoDiv = document.createElement('div');
          metaInfoDiv.setAttribute('data-tag', value.tag) 
          const metaInfoDivStrong = document.createElement('strong');
          metaInfoDivStrong.innerHTML = '# '

          const metaInfoDivSpan = document.createElement('span');
          metaInfoDivSpan.className = 'tags'
          metaInfoDivSpan.innerHTML = `${value.tag}`

          metaInfoDiv.appendChild(metaInfoDivStrong);
          metaInfoDiv.appendChild(metaInfoDivSpan);
          metaInfo.appendChild(metaInfoDiv);


          if (value.postprocess) {
            value.postprocess(contentDivLinked, metaInfo);
          }
        })
      });
    }

    // Функция копирования в буфер обмена
    async function copyToClipboard(text) {
      const result = await window.electronAPI.copyToClipboard(text);
      if (result.success) {
        showNotification(messages.successefullyCopiedContent, 'success');
      } else {
        console.error(messages.failedToCopyContent, result.error);
        showNotification(messages.failedToCopyContent, 'error');
      }
    }

    // Функция удаления контента
    async function removeContent(id) {
      try {
        const result = await window.electronAPI.deleteContent(id);
        if (result.success) {
          showNotification(messages.successefullyDeletedContent, 'success');
          // Перерисовываем список после удаления
          const currentFilter = filterInput.value.trim();

          showContent(currentFilter);
        } else {
          showNotification(result.message || messages.failedToDeleteContent, 'error');
        }
      } catch (error) {
        console.error(messages.failedToDeleteContent, error);
        showNotification(messages.failedToDeleteContent, 'error');
      }
    }

    async function showContent(q) {
      if (q === '') {
        // Если поле ввода пустое, отображаем весь контент
        displaySavedContent();
      } else if (q.startsWith('#')) {
        // Поиск по тегам
        const filterTags = q.substring(1).split(',').map(tag => tag.trim()).filter(tag => tag);
        displaySavedContent('tag', filterTags);
      } else {
        // Поиск по контенту
        displaySavedContent('content', q);
      }

      const tags = await window.electronAPI.getTags()
      renderTagCloud(tags.map(x => x.name));
    }

    // Обработчик фильтрации при вводе
    document.getElementById('filterInput').addEventListener('input', (event) => {
      const input = event.target.value.trim();
      showContent(input);
    });

    document.getElementById('resetFilter').addEventListener('click', () => {
      filterInput.value = '';
      showContent('');
    });

    // Делегирование событий для кнопок
    document.getElementById('contentList').addEventListener('click', async (event) => {
      const target = event.target;

      // Проверяем, была ли нажата кнопка копирования
      if (target.closest('.copy-button')) {
        const button = target.closest('.copy-button');
        const contentId = button.getAttribute('data-id');
        const textToCopy = globalContent[contentId].content;
        if (textToCopy) {
          await copyToClipboard(textToCopy);
        }
      }

      // Проверяем, была ли нажата кнопка удаления
      if (target.closest('.remove-button')) {
        const button = target.closest('.remove-button');
        const contentId = button.getAttribute('data-id');
        if (contentId) {
          await removeContent(contentId);
        }
      }
    });

    const settingsButton = document.getElementById('settings-button')
    settingsButton.addEventListener('click', () => {
      window.electronAPI.openSettingsWindow();
    })


    window.addEventListener('pageshow', () => {
      showContent('');
    });

    document.addEventListener('visibilitychange', () => {
      if (!document.hidden) {
        showContent('');
      }
    });

    window.addEventListener('keydown', async (event) => {
      if (event.key === 'Escape') {
        await window.electronAPI.hide();
      }
    });
  </script>

</body>

</html>